<div class="wrapper">
    <h1>AIRPORTS DASHBOARD</h1>
    <div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/510/510/)">
                    <div class="inner">
                        <p>New York</p>
                            <span>JFK AIRPORT HOTEL</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                            <button mat-button routerLink="/hotel/JFK_Hotel">More information</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
                        <div class="inner">
                            <p>Newark</p>
                                <span>EWR AIRPORT HOTEL</span>
                                
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <button mat-button routerLink="/hotel/EWR_Hotel">More information</button>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/512/512/)">
                        <div class="inner">
                            <p>Los Angeles</p>
                            <span>LAX AIRPORT HOTEL</span>
                            
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <button mat-button routerLink="/hotel/LAX_Hotel">More information</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/518/518/)">
                        <div class="inner">
                            <p>Dallas</p>
                            <span>DFW AIRPORT HOTEL</span>
                            
                        </div>
                    </div>

                    <div class="back">
                        <div class="inner">
                            <button mat-button routerLink="/hotel/DFW_Hotel">More information</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                        <div class="inner">
                            <p>Orlando</p>
                            <span>MCO AIRPORT HOTEL</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <button mat-button routerLink="/hotel/MCO_Hotel">More information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>