<div class="wrapper">
    <h1>AIRPORTS DASHBOARD</h1>
    <div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                    <div class="inner">
                        <p>New York</p>
                    <span>JFK AIRPORT</span>
                    </div>
                </div>
                    <div class="back">
                        <div class="inner">
                                <p>John F. Kennedy International Airport.</p>
                                <button mat-button routerLink="/home/JFK">More information</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                        <div class="inner">
                            <p>Newark</p>
                                <span>EWR AIRPORT</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Newark Liberty International Airport</p>
                            <button mat-button routerLink="/home/EWR">More information</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                        <div class="inner">
                            <p>Los Angeles</p>
                            <span>LAX AIRPORT</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Los Angeles International Airport.</p>
                            <button mat-button routerLink="/home/LAX">More information</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                        <div class="inner">
                            <p>Dallas</p>
                            <span>DFW AIRPORT</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Dallas/Fort Worth International Airport.</p>
                            <button mat-button routerLink="/home/DFW">More information</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                        <div class="inner">
                            <p>Orlando</p>
                            <span>MCO AIRPORT</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Orlando International Airport.</p>
                            <button mat-button routerLink="/home/MCO">More information</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>